body {
  font-family: 'Jost', sans-serif;
}

/* h1,
h3 {
  -moz-text-stroke-width: 1px;
  -moz-text-stroke-color: #ffeed6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffeed6;
} */

h1 {
  font-size: 82px;
}
